{namespace addthis=Tx_Addthis_ViewHelpers}
<f:layout name="default" />
<f:section name="main">
	<div class="audio-gallery">
		
		<div class="filters">
			<div class="filter-area">
				<f:form action="index">
					<f:for each="{filterGroups}" as="filterGroup">
						<f:form.select name="{filterGroup.name}" options="{filterGroup.filterItem}" />
					</f:for>
				</f:form>
			</div>
			<div class="paging-area">
				<f:widget.paginate objects="{entries}" as="paginatedEntries" configuration="{itemsPerPage: 12, insertAbove: 1, insertBelow: 1}">
			</div>
		</div>
		
		<f:for each="{paginatedEntries}" as="entry">
			<div class="entry" id="entry_{entry.uid}">
				<p>{entry.title}</p>
				<h3 class="skin-color">{entry.author}</h3>
				<div class="background skin-back">
					<f:render partial="jwplayer" arguments="{entry:entry}" />
				</div>
				<f:render partial="Addthis" arguments="{entry:entry}" />
			</div>
		</f:for>
		
		<div class="filters">
			<div class="paging-area">
				</f:widget.paginate>
			</div>
		</div>
		
	</div>
	<script type="text/javascript">
		<addthis:rawValue value="{addthis_config}" />
	</script>
	<script type="text/javascript" src="{addthis_jsurl}"></script>
</f:section>