{namespace addthis=Tx_Addthis_ViewHelpers}
<f:layout name="default" />
<f:section name="main">
	<div class="audio-single-view">
		<div class="single-entry" id="entry_{entry.uid}">
	
			<div class="video">
				<div class="background skin-back">
					<f:render partial="jwplayer" arguments="{entry:entry, jwplayer_config:jwplayer_config, image: entry.singleViewImageSrc}" />
				</div>
			</div>
			
			<div class="content">
				<img src="{f:uri.resource(path:'Images/deinsound.png')}" alt="Dein Sound"/>
				<p>{entry.title}</p>
				<p class="skin-color">{entry.author}</p>
				
				<f:render partial="Addthis" arguments="{entry:entry, largeButton: 1}" />
			</div>
			
			<div class="clear"></div>

			<div class="buttons">
				<f:if condition="{settings.participatePage}">
					<f:link.page pageUid="{settings.participatePage}" class="single-button"><img src="{f:uri.resource(path:'Images/participate.png')}" /></f:link.page>	
				</f:if>
							
				<f:if condition="{settings.listViewPage}">
					<f:link.page pageUid="{settings.listViewPage}" class="single-button"><img src="{f:uri.resource(path:'Images/list.png')}" /></f:link.page>
				</f:if>
			</div>
			

		</div>
		<f:if condition="{settings.renderAddThisInclude}">
			<f:then>
				<script type="text/javascript">
					<addthis:rawValue value="{addthis_config}" />
				</script>
				<script type="text/javascript" src="{addthis_jsurl}"></script>
			</f:then>
		</f:if>
	</div>
</f:section>