<!-- AddThis Button BEGIN -->
<div class="addthis_toolbox addthis_default_style"  addthis:url="{f:uri.action(action:'show',absolute:1,arguments:{entry:entry})}" addthis:title="{entry.title}">
	<f:link.action class="download-link" action="download" arguments="{entry : entry}"><img src="{f:uri.resource(path:'Images/more.png')}" /></f:link.action>
	<a class="addthis_button_email">
		<img src="{f:uri.resource(path:'Images/mail.png')}" />
	</a>
	<a class="addthis_button_facebook">
		<img src="{f:uri.resource(path:'Images/facebook.png')}" />
	</a>
</div>
<!-- AddThis Button END -->