{namespace jwplayer=Tx_Jwplayer_ViewHelpers}

<div class="jwplayer">
	<p id="player_{entry.uid}">Video is loading ...</p>
</div>

<jwplayer:script>
	
	var file = "{entry.audioFileSrc}";
	var image = "{entry.previewImageSrc}";
	var player_id = "player_{entry.uid}";
	var flashplayer = "{jwplayer_config.flashplayer}";
	var backcolor = "{jwplayer_config.backcolor}";
	var fontcolor = "{jwplayer_config.fontcolor}";
	var lightcolor = "{jwplayer_config.lightcolor}";
	var screencolor = "{jwplayer_config.screenscolor}";
	var width = "{jwplayer_config.width}";
	var height = "{jwplayer_config.height}";
	var bufferlength = "{jwplayer_config.bufferlength}";
	var volume = "{jwplayer_config.volume}";
	var autostart = "{jwplayer_config.autostart}";
	var mute = "{jwplayer_config.mute}";
	var stretching = "{jwplayer_config.stretching}";
	var repeat = "{jwplayer_config.repeat}";
	var controlbar = "{jwplayer_config.controlbar}";
	var skin = "{jwplayer_config.skin}";
	

	/* <![CDATA[ */
	var config = {
		flashplayer: flashplayer,
		backcolor:backcolor,
		fontcolor:fontcolor,
		lightcolor:lightcolor,
		screencolor:screencolor,
		id: player_id,
		file: file,
		width: width,
		bufferlength:bufferlength,
		autostart:autostart,
		mute:mute,
		volume:volume,
		controlbar:controlbar,
		skin:skin
	};
	
	if(width != "") {
		config.width = width;
	}
	
	if(height != "") {
		config.height = height;
	}
	
	if(image != "") {
		config.image = image;
	}
	
	if(repeat != ""){
		config.repeat = repeat;
	}
	if(stretching != ""){
		config.stretching = stretching;
	}
	
	// init player
	if (typeof jwplayer != 'function') {
		if(typeof(tx_jwplayer_list)=="undefined"){
			tx_jwplayer_list = new Array();
		}
		tx_jwplayer_list[player_id] = config;
	}else{
		jwplayer(player_id).setup(config);
	}
	 /* ]]> */
</jwplayer:script>
<noscript>
	Please enable JavaScript
</noscript>