{namespace addthis=Tx_Jwplayer_ViewHelpers}
<div class="jwplayer">
	<p id="{entry.jwplayerConfig.player_id}">Video is loading ...</p>
</div>
<script type="text/javascript" src="typo3conf/ext/jwplayer/Resources/Public/Player/jwplayer.js"></script>
<script type="text/javascript">
	
	var player_id = "{entry.jwplayerConfig.player_id}";
	var flashplayer = "{entry.jwplayerConfig.flashplayer}";
	var backcolor = "{entry.jwplayerConfig.backcolor}";
	var fontcolor = "{entry.jwplayerConfig.fontcolor}";
	var lightcolor = "{entry.jwplayerConfig.lightcolor}";
	var screencolor = "{entry.jwplayerConfig.screenscolor}";
	var controlbar = "{entry.jwplayerConfig.controlbar}";
	var file = "{entry.jwplayerConfig.file}";
	var width = "{entry.jwplayerConfig.width}";
	var height = "{entry.jwplayerConfig.height}";
	var bufferlength = "{entry.jwplayerConfig.bufferlength}";
	var volume = "{entry.jwplayerConfig.volume}";
	var autostart = "{entry.jwplayerConfig.autostart}";
	var mute = "{entry.jwplayerConfig.mute}";
	var stretching = "{entry.jwplayerConfig.stretching}";
	var repeat = "{entry.jwplayerConfig.repeat}";
	var image = "{entry.jwplayerConfig.image}";
	var skin = "{entry.jwplayerConfig.skin}";
	var facebookPlugin = "{entry.jwplayerConfig.facebookPlugin}";

	/* <![CDATA[ */
	var config = {
		flashplayer: flashplayer,
		backcolor:backcolor,
		fontcolor:fontcolor,
		lightcolor:lightcolor,
		screencolor:screencolor,
		id: player_id,
		file: file,
		width: width,
		bufferlength:bufferlength,
		autostart:autostart,
		controlbar:controlbar,
		mute:mute,
		volume:volume,
		skin:skin
	};
	
	if(width != "") {
		config.width = width;
	}
	
	if(height != "") {
		config.height = height;
	}
	
	if(image != "") {
		config.image = image;
	}
	
	if(repeat != ""){
		config.repeat = repeat;
	}
	if(stretching != ""){
		config.stretching = stretching;
	}
	if(facebookPlugin){
		var plugins = {};
		plugins.fbit = {
			dock:true
		};
		config.plugins = plugins;
	}
	
	// init player
	if (typeof jwplayer != 'function') {
		if(typeof(tx_jwplayer_list)=="undefined"){
			tx_jwplayer_list = new Array();
		}
		tx_jwplayer_list[player_id] = config;
	}else{
		jwplayer(player_id).setup(config);
	}
	 /* ]]> */
</script>
<noscript>
	Please enable JavaScript
</noscript>